table{
    border-collapse: collapse;
    background: #DDDDDD;
}

td{
    border-top:1px solid black;
    border-bottom: 1px solid black;
    padding:5px;
    width:50px;

}

tr:nth-child(2n){
    background: white;
}

input[type='submit']{
    border-radius: 10px;
}